In [20]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [21]:
csv_file = "../Resources/haunted_places.csv"
haunted_df = pd.read_csv(csv_file)
haunted_df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

In [22]:
csv_file = "../Resources/nuforc_reports.csv"
ufo_df = pd.read_csv(csv_file)

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_10894/3776472120.py:2: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_df = pd.read_csv(csv_file)

In [23]:
csv_file = "../Resources/bfro_locations.csv"
bigfoot_df = pd.read_csv(csv_file)
bigfoot_df.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

### Create new data with select columns

In [24]:
new_haunted_df = haunted_df[['city', 'country','description', 'location','state','longitude','latitude']].copy()
new_haunted_df.head()

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006

In [25]:
new_haunted_df.dropna(subset=['longitude', 'latitude'])
new_haunted_df.head()

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006

In [26]:
new_ufo_df = ufo_df[['summary', 'country','city','state','shape','date_time','city_latitude','city_longitude']].copy()
new_ufo_df.head()

,summary,country,city,state,shape,date_time,city_latitude,city_longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136

In [27]:
new_ufo_df = new_ufo_df.rename(columns = {'city_latitude':'latitude','city_longitude':'longitude'})

In [28]:
new_ufo_df.head()

,summary,country,city,state,shape,date_time,latitude,longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136

In [29]:
ufo_df1 = new_ufo_df.loc[new_ufo_df['country'] == 'USA'].dropna(subset=['longitude', 'latitude'])

In [30]:
new_bigfoot_df = bigfoot_df[['title', 'classification','timestamp','latitude','longitude']].copy()
new_bigfoot_df = new_bigfoot_df.dropna(subset=['longitude', 'latitude'])

In [31]:
new_bigfoot_df

,title,classification,timestamp,latitude,longitude
0,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.50000,-142.90000
1,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.18720,-132.79820
2,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.20350,-132.82020
3,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.93750,-141.56670
4,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.05950,-149.78530
...,...,...,...,...,...
4245,Report 4159: Campers hear unusual grunting sou...,Class C,1995-11-15T12:00:00Z,31.22333,-94.96611
4246,Report 175: Campers encounter large animal nea...,Class C,2000-07-30T12:00:00Z,47.47745,-121.04150
4247,Report 945: Creature with red glowing eyes seen,Class C,1999-03-19T12:00:00Z,47.57778,-124.29330
4248,Report 1387: Father and son hear heavy footste...,Class C,1983-08-17T12:00:00Z,47.51030,-122.04560
4249,Report 3044: Second-hand report of creature lo...,Class C,1975-09-10T12:00:00Z,43.98694,-91.33662

### Connect to local database

In [32]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'paranormal_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [33]:
engine.table_names()

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_10894/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['bigfoot', 'ufos', 'haunted']

### Use pandas to load csv converted DataFrame into database

In [34]:
new_bigfoot_df.to_sql(name='bigfoot', con=engine, if_exists='append', index=False)

250

In [36]:
ufo_df1.to_sql(name='ufos', con=engine, if_exists='append', index=False)

448

In [37]:
new_haunted_df.to_sql(name='haunted', con=engine, if_exists='append', index=False)

992

In [43]:
haunted_json = new_haunted_df.to_json('haunted_json.json')

haunted_json

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from haunted', con=engine).head()

In [ ]:
pd.read_sql_query('select * from ufos', con=engine).head()

In [ ]:
pd.read_sql_query('select * from bigfoot', con=engine).head()