In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "../Resources/haunted_places.csv"
haunted_df = pd.read_csv(csv_file)
haunted_df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

In [3]:
csv_file = "../Resources/nuforc_reports.csv"
ufo_df = pd.read_csv(csv_file)

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_15931/3776472120.py:2: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_df = pd.read_csv(csv_file)

In [4]:
csv_file = "../Resources/bfro_locations.csv"
bigfoot_df = pd.read_csv(csv_file)
bigfoot_df.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

### Create new data with select columns

In [5]:
new_haunted_df = haunted_df[['city', 'country','description', 'location','state','longitude','latitude']].copy()
new_haunted_df.head()

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006

In [6]:
new_haunted_df.dropna(subset=['longitude', 'latitude'])
new_haunted_df

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006
...,...,...,...,...,...,...,...
10987,Westminster,United States,at 12 midnight you can see a lady with two lit...,city hall,Colorado,-105.048936,39.862610
10988,Westminster,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,Colorado,-105.032091,39.847237
10989,Wheat Ridge,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,Colorado,-105.063974,39.769726
10990,Wheat Ridge,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,Colorado,-105.103613,39.764055
10991,Woodland Park,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,Colorado,-105.022763,39.116658

In [7]:
new_ufo_df = ufo_df[['summary', 'country','city','state','shape','date_time','city_latitude','city_longitude']].copy()
new_ufo_df.head()

,summary,country,city,state,shape,date_time,city_latitude,city_longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136

In [8]:
new_ufo_df = new_ufo_df.rename(columns = {'city_latitude':'latitude','city_longitude':'longitude'})

In [9]:
new_ufo_df.head()

,summary,country,city,state,shape,date_time,latitude,longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136

In [10]:
ufo_df1 = new_ufo_df.loc[new_ufo_df['country'] == 'USA'].dropna(subset=['longitude', 'latitude'])

In [11]:
ufo_df1

,summary,country,city,state,shape,date_time,latitude,longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136
...,...,...,...,...,...,...,...,...
138110,Straight projection upward at a very high rate...,USA,San Diego,CA,NaN,2020-02-12T13:00:00,32.836187,-117.162505
138111,this was a round abject. It was traveling due ...,USA,Ellenton,FL,sphere,2020-02-12T16:30:00,27.5428,-82.5036
138112,Extremely bright strange lights changing shape...,USA,Driggs,ID,changing,2020-02-12T18:30:00,43.7273,-111.1253
138113,"Very bright white light, motionless in western...",USA,Orem,UT,light,2020-02-12T21:00:00,40.277458,-111.668223
138114,Flashing Red & Green Object over Airport - hov...,USA,Somerton,AZ,circle,2020-02-12T21:30:00,32.5594,-114.7133

In [12]:
new_bigfoot_df = bigfoot_df[['title', 'classification','timestamp','latitude','longitude']].copy()
new_bigfoot_df = new_bigfoot_df.dropna(subset=['longitude', 'latitude'])

In [13]:
new_bigfoot_df

,title,classification,timestamp,latitude,longitude
0,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.50000,-142.90000
1,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.18720,-132.79820
2,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.20350,-132.82020
3,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.93750,-141.56670
4,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.05950,-149.78530
...,...,...,...,...,...
4245,Report 4159: Campers hear unusual grunting sou...,Class C,1995-11-15T12:00:00Z,31.22333,-94.96611
4246,Report 175: Campers encounter large animal nea...,Class C,2000-07-30T12:00:00Z,47.47745,-121.04150
4247,Report 945: Creature with red glowing eyes seen,Class C,1999-03-19T12:00:00Z,47.57778,-124.29330
4248,Report 1387: Father and son hear heavy footste...,Class C,1983-08-17T12:00:00Z,47.51030,-122.04560
4249,Report 3044: Second-hand report of creature lo...,Class C,1975-09-10T12:00:00Z,43.98694,-91.33662

### Connect to local database

In [14]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'paranormal_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [15]:
engine.table_names()

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_15931/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['bigfoot', 'ufos', 'haunted']

### Use pandas to load csv converted DataFrame into database

In [16]:
new_bigfoot_df.to_sql(name='bigfoot', con=engine, if_exists='append', index=False)

250

In [17]:
ufo_df1.to_sql(name='ufos', con=engine, if_exists='append', index=False)

448

In [18]:
new_haunted_df.to_sql(name='haunted', con=engine, if_exists='append', index=False)

992

In [19]:
haunted_json = new_haunted_df.to_json('haunted_json.json')

haunted_json

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [20]:
pd.read_sql_query('select * from haunted', con=engine)

,rank,city,country,description,location,state,longitude,latitude
0,None,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.50489309999999,42.9621061
1,None,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.3818434,41.9714248
2,None,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.03565619999999,41.904538
3,None,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.0175653,41.9057124
4,None,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.7451775,42.2440064
...,...,...,...,...,...,...,...,...
76939,None,Westminster,United States,at 12 midnight you can see a lady with two lit...,city hall,Colorado,-105.048936,39.8626099
76940,None,Westminster,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,Colorado,-105.0320914,39.8472373
76941,None,Wheat Ridge,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,Colorado,-105.0639735,39.7697258
76942,None,Wheat Ridge,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,Colorado,-105.1036126,39.7640549
76943,None,Woodland Park,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,Colorado,-105.022763,39.1166582

In [21]:
pd.read_sql_query('select * from ufos', con=engine).head()

,summary,country,city,state,shape,date_time,longitude,latitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15,-121.5175,44.3156
1,String of lights,USA,Sarasota,FL,other,2021-05-10,-82.50858279,27.35480054
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05,-84.85165715,35.14642552
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16,-74.0263,43.0225
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18,-75.7136,40.0146

In [22]:
pd.read_sql_query('select * from bigfoot', con=engine).head()

,title,classification,timestamp,longitude,latitude
0,Report 637: Campers' encounter just after dark...,Class A,2000-06-16,-143,62
1,Report 2917: Family observes large biped from car,Class A,1995-05-15,-133,55
2,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09,-133,55
3,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18,-142,63
4,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15,-150,61

In [24]:
json_file = "../static/js/Bigfoot.json"
haunted_df = pd.read_json(json_file)

In [32]:
haunted_df

                   type                                           features
0     FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
1     FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
2     FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
3     FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
4     FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
...                 ...                                                ...
4245  FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
4246  FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
4247  FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
4248  FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...
4249  FeatureCollection  {'type': 'Feature', 'properties': {'title': 'R...

[4250 rows x 2 columns]