In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "../Resources/haunted_places.csv"
haunted_df = pd.read_csv(csv_file)
haunted_df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

In [3]:
csv_file = "../Resources/nuforc_reports.csv"
ufo_df = pd.read_csv(csv_file)

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_30877/3776472120.py:2: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_df = pd.read_csv(csv_file)

In [4]:
csv_file = "../Resources/bfro_locations.csv"
bigfoot_df = pd.read_csv(csv_file)
bigfoot_df.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

### Create new data with select columns

In [5]:
new_haunted_df = haunted_df[['city', 'country','description', 'location','state','longitude','latitude']].copy()
new_haunted_df.head()

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006

In [6]:
new_haunted_df.dropna(subset=['longitude', 'latitude'])
new_haunted_df

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006
...,...,...,...,...,...,...,...
10987,Westminster,United States,at 12 midnight you can see a lady with two lit...,city hall,Colorado,-105.048936,39.862610
10988,Westminster,United States,Is haunted by the victims of a murder that hap...,Pillar of Fire,Colorado,-105.032091,39.847237
10989,Wheat Ridge,United States,The institution was for kids 18 years old and ...,Ridge Mental Institution,Colorado,-105.063974,39.769726
10990,Wheat Ridge,United States,Gymnasium - their have been reports of a litt...,Wheat Ridge Middle School,Colorado,-105.103613,39.764055
10991,Woodland Park,United States,Cadets from the Air Force Academy participatin...,Saylor Park Forest,Colorado,-105.022763,39.116658

In [7]:
new_ufo_df = ufo_df[['summary', 'country','city','state','shape','date_time','city_latitude','city_longitude']].copy()
new_ufo_df.head()

,summary,country,city,state,shape,date_time,city_latitude,city_longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136

In [8]:
new_ufo_df = new_ufo_df.rename(columns = {'city_latitude':'latitude','city_longitude':'longitude'})

In [9]:
new_ufo_df.head()

,summary,country,city,state,shape,date_time,latitude,longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.3156,-121.5175
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.0225,-74.0263
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.0146,-75.7136

In [222]:
new_ufo_df = new_ufo_df.loc[new_ufo_df['country'] == 'USA'].dropna()

In [228]:
new_ufo_df = new_ufo_df.loc[new_ufo_df['shape'] == 'disk']

In [12]:
new_bigfoot_df = bigfoot_df[['title', 'classification','timestamp','latitude','longitude']].copy()
new_bigfoot_df = new_bigfoot_df.dropna(subset=['longitude', 'latitude'])

In [231]:
new_bigfoot_df.isnull().sum()

title             0
classification    0
timestamp         0
latitude          0
longitude         0
dtype: int64

### Connect to local database

In [14]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'paranormal_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [15]:
engine.table_names()

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_30877/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['haunted', 'ufos', 'bigfoot']

### Use pandas to load csv converted DataFrame into database

In [16]:
new_bigfoot_df.to_sql(name='bigfoot', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "title" of relation "bigfoot" does not exist
LINE 1: INSERT INTO bigfoot (title, classification, timestamp, latit...
                             ^

[SQL: INSERT INTO bigfoot (title, classification, timestamp, latitude, longitude) VALUES (%(title)s, %(classification)s, %(timestamp)s, %(latitude)s, %(longitude)s)]
[parameters: ({'title': "Report 637: Campers' encounter just after dark in the Wrangell - St. Elias National Park and Preserve", 'classification': 'Class A', 'timestamp': '2000-06-16T12:00:00Z', 'latitude': 61.5, 'longitude': -142.9}, {'title': 'Report 2917: Family observes large biped from car', 'classification': 'Class A', 'timestamp': '1995-05-15T12:00:00Z', 'latitude': 55.1872, 'longitude': -132.7982}, {'title': 'Report 7963: Sasquatch walks past window of house at night', 'classification': 'Class A', 'timestamp': '2004-02-09T12:00:00Z', 'latitude': 55.2035, 'longitude': -132.8202}, {'title': 'Report 9317: Driver on Alcan Highway has noon, road encounter near Alaska-Canada border', 'classification': 'Class A', 'timestamp': '2004-06-18T12:00:00Z', 'latitude': 62.9375, 'longitude': -141.5667}, {'title': 'Report 13038: Snowmobiler has encounter in deep snow near Potter, AK', 'classification': 'Class A', 'timestamp': '2004-02-15T12:00:00Z', 'latitude': 61.0595, 'longitude': -149.7853}, {'title': 'Report 23666: Passenger on the Alcan Highway sees a tall bipedal creature walk across the road', 'classification': 'Class A', 'timestamp': '2008-04-23T12:00:00Z', 'latitude': 62.77335, 'longitude': -141.3165}, {'title': 'Report 26604: Daytime sighting of reddish-colored bigfoot near Fairbanks', 'classification': 'Class A', 'timestamp': '2009-07-15T12:00:00Z', 'latitude': 64.89139, 'longitude': -147.8142}, {'title': 'Report 179: Man and witnesses have two seperate sighting, 1st while fishing, 2nd while driving', 'classification': 'Class A', 'timestamp': '1981-09-15T12:00:00Z', 'latitude': 32.31435, 'longitude': -85.16235}  ... displaying 10 of 4250 total bound parameter sets ...  {'title': 'Report 1387: Father and son hear heavy footsteps made by an apparent bipedal creature', 'classification': 'Class C', 'timestamp': '1983-08-17T12:00:00Z', 'latitude': 47.5103, 'longitude': -122.0456}, {'title': 'Report 3044: Second-hand report of creature looking in at woman through window', 'classification': 'Class C', 'timestamp': '1975-09-10T12:00:00Z', 'latitude': 43.98694, 'longitude': -91.33662})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [196]:
ufo_df1.to_sql(name='ufos', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "summary" of relation "ufos" does not exist
LINE 1: INSERT INTO ufos (summary, country, city, state, shape, date...
                          ^

[SQL: INSERT INTO ufos (summary, country, city, state, shape, date_time, latitude, longitude) VALUES (%(summary)s, %(country)s, %(city)s, %(state)s, %(shape)s, %(date_time)s, %(latitude)s, %(longitude)s)]
[parameters: ({'summary': 'Long and narrow illuminated craft flying high and somewhat slowly over Oregon (5-15-21, 22:36); 4 whitnesses', 'country': 'USA', 'city': 'Sisters', 'state': 'OR', 'shape': 'cigar', 'date_time': '2021-05-15T22:36:00', 'latitude': 44.3156, 'longitude': -121.5175}, {'summary': 'String of lights', 'country': 'USA', 'city': 'Sarasota', 'state': 'FL', 'shape': 'other', 'date_time': '2021-05-10T22:00:00', 'latitude': 27.35480054, 'longitude': -82.50858279}, {'summary': '30+ lights in a line.', 'country': 'USA', 'city': 'Cleveland', 'state': 'TN', 'shape': 'light', 'date_time': '2021-05-05T22:35:00', 'latitude': 35.14642552, 'longitude': -84.85165715}, {'summary': 'I was standing at my kitchen sink and looked up out the window and saw a glowing green orb rise slowly up off the ground and then it di', 'country': 'USA', 'city': 'Galway', 'state': 'NY', 'shape': 'circle', 'date_time': '2020-10-16T18:25:00', 'latitude': 43.0225, 'longitude': -74.0263}, {'summary': 'Multiple slow moving craft seen all over the sky during early morning hours.', 'country': 'USA', 'city': 'Downingtown', 'state': 'PA', 'shape': 'circle', 'date_time': '2021-06-18T01:00:00', 'latitude': 40.0146, 'longitude': -75.7136}, {'summary': '1:20 am Huge Orange Circular Craft over the SE skies of Oakland CA', 'country': 'USA', 'city': 'Oakland', 'state': 'CA', 'shape': 'circle', 'date_time': '2021-06-18T01:20:00', 'latitude': 37.79847503, 'longitude': -122.2316391}, {'summary': 'Bright stationary  white lights in the sky that slowly faded away', 'country': 'USA', 'city': 'Seattle', 'state': 'WA', 'shape': 'light', 'date_time': '2021-06-18T03:30:00', 'latitude': 47.60567891, 'longitude': -122.3308401}, {'summary': 'I have 3 dogs and I walk them 1 at a time.At 10:00p.m. in the eastern sky I saw a bright light like a planet was closer to earth. I pai', 'country': 'USA', 'city': 'Jacksonville', 'state': 'FL', 'shape': 'light', 'date_time': '2021-08-12T21:30:00', 'latitude': 30.29747071, 'longitude': -81.63802727}  ... displaying 10 of 108448 total bound parameter sets ...  {'summary': 'Very bright white light, motionless in western Utah night sky, sat still for 15 minutes then vanished in a blink of an eye.', 'country': 'USA', 'city': 'Orem', 'state': 'UT', 'shape': 'light', 'date_time': '2020-02-12T21:00:00', 'latitude': 40.27745803, 'longitude': -111.668223}, {'summary': 'Flashing Red & Green Object over Airport - hovers for several hours', 'country': 'USA', 'city': 'Somerton', 'state': 'AZ', 'shape': 'circle', 'date_time': '2020-02-12T21:30:00', 'latitude': 32.5594, 'longitude': -114.7133})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
new_haunted_df.to_sql(name='haunted', con=engine, if_exists='append', index=False)

In [ ]:
haunted_json = new_haunted_df.to_json('haunted_json.json')

haunted_json

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from haunted', con=engine)

In [ ]:
pd.read_sql_query('select * from ufos', con=engine).head()

In [ ]:
pd.read_sql_query('select * from bigfoot', con=engine).head()

In [ ]:
json_file = "../static/js/Bigfoot.json"
haunted_df = pd.read_json(json_file)

In [167]:
csv_file = "../Resources/earnings.csv"
earnings_df = pd.read_csv(csv_file).set_index('Label (Grouping)').T.rename(columns ={'Total:':'Total Population'})

In [169]:
csv_file = "../Resources/education.csv"
education_df = pd.read_csv(csv_file).set_index('Label (Grouping)').T.rename(columns ={'Total:':'Total Population'})

In [184]:
census_df = pd.merge(pop_df,pd.merge(education_df,earnings_df, left_index=True, right_index=True),left_index=True, right_index=True)

In [233]:
from pandas_geojson import to_geojson
from pandas_geojson import write_geojson

In [244]:
new_haunted_df = new_haunted_df.dropna()

In [252]:
new_haunted_df['country'].value_counts()

United States    9731
Name: country, dtype: int64

In [245]:
haunted_geo_json = to_geojson(df=new_haunted_df, lat='latitude', lon='longitude',
                 properties=['description'])
write_geojson(haunted_geo_json, filename='haunted.geojson', indent=4)

In [239]:
bigfoot_geo_json = to_geojson(df=new_bigfoot_df.loc[bigfoot_df['classification'] == 'Class A'], lat='latitude', lon='longitude',
                 properties=['title'])
write_geojson(bigfoot_geo_json, filename='bigfoot.geojson', indent=4)

In [234]:
ufo_geo_json = to_geojson(df=new_ufo_df, lat='latitude', lon='longitude',
                 properties=['summary'])
write_geojson(ufo_geo_json, filename='ufo.geojson', indent=4)