In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [4]:
csv_file = "../Resources/haunted_places.csv"
haunted_df = pd.read_csv(csv_file)
haunted_df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

In [5]:
csv_file = "../Resources/nuforc_reports.csv"
ufo_df = pd.read_csv(csv_file)
ufo_df.head()

,summary,country,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,2021-05-15T22:36:00,cigar,4 minutes,Occurred : 5/15/2021 22:36 (Entered as : 05/1...,http://www.nuforc.org/webreports/reports/163/S...,Long and narrow illuminated craft flying high ...,2021-05-20T00:00:00,44.315600,-121.517500
1,String of lights,USA,Sarasota,FL,2021-05-10T22:00:00,other,2 minutes,Occurred : 5/10/2021 22:00 (Entered as : 5/10...,http://www.nuforc.org/webreports/reports/163/S...,String of lights \n \nSaw a string of fast mov...,2021-05-20T00:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,2021-05-05T22:35:00,light,10 minutes,Occurred : 5/5/2021 22:35 (Entered as : 05/05...,http://www.nuforc.org/webreports/reports/162/S...,30+ lights in a line. \n \nI have night vision...,2021-05-20T00:00:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,2020-10-16T18:25:00,circle,5 mins,Occurred : 10/16/2020 18:25 (Entered as : 10/...,http://www.nuforc.org/webreports/reports/164/S...,I was standing at my kitchen sink and looked u...,2021-08-20T00:00:00,43.022500,-74.026300
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,2021-06-18T01:00:00,circle,1 hour,Occurred : 6/18/2021 01:00 (Entered as : 06/1...,http://www.nuforc.org/webreports/reports/163/S...,Multiple slow moving craft seen all over the s...,2021-07-31T00:00:00,40.014600,-75.713600

In [8]:
csv_file = "../Resources/bfro_locations.csv"
bigfoot_df = pd.read_csv(csv_file)
bigfoot_df.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

### Create new data with select columns

In [24]:
new_haunted_df = haunted_df[['city', 'country','description', 'location','state','longitude','latitude']].copy()
new_haunted_df.head()

,city,country,description,location,state,longitude,latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,-85.504893,42.962106
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,-84.381843,41.971425
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,-84.035656,41.904538
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,-84.017565,41.905712
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,-84.745177,42.244006

In [30]:
new_ufo_df = ufo_df[['summary', 'country','city','state','shape','date_time','city_latitude','city_longitude']].copy()
new_ufo_df.head()

,summary,country,city,state,shape,date_time,city_latitude,city_longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.315600,-121.517500
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.022500,-74.026300
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.014600,-75.713600

In [48]:
new_ufo_df.rename(columns = {'city_latitude':'latitude','city_longitude':'longitude'}, inplace = True)
new_ufo_df.head()

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_57386/648218937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ufo_df.rename(columns = {'city_latitude':'latitude','city_longitude':'longitude'}, inplace = True)

,summary,country,city,state,shape,date_time,latitude,longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.315600,-121.517500
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.022500,-74.026300
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.014600,-75.713600

In [49]:
new_ufo_df = new_ufo_df.loc[new_ufo_df['country'] == 'USA']
new_ufo_df.head()

,summary,country,city,state,shape,date_time,latitude,longitude
0,Long and narrow illuminated craft flying high ...,USA,Sisters,OR,cigar,2021-05-15T22:36:00,44.315600,-121.517500
1,String of lights,USA,Sarasota,FL,other,2021-05-10T22:00:00,27.354801,-82.508583
2,30+ lights in a line.,USA,Cleveland,TN,light,2021-05-05T22:35:00,35.146426,-84.851657
3,I was standing at my kitchen sink and looked u...,USA,Galway,NY,circle,2020-10-16T18:25:00,43.022500,-74.026300
4,Multiple slow moving craft seen all over the s...,USA,Downingtown,PA,circle,2021-06-18T01:00:00,40.014600,-75.713600

In [32]:
new_bigfoot_df = bigfoot_df[['title', 'classification','timestamp','latitude','longitude']].copy()
new_bigfoot_df.head()

,title,classification,timestamp,latitude,longitude
0,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

### Connect to local database

In [7]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'paranormal_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [8]:
engine.table_names()

/var/folders/3k/6xzjh8pd05z3pk2qlf50c_b80000gn/T/ipykernel_57007/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  role "postgres" does not exist

(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Use pandas to load csv converted DataFrame into database

In [ ]:
new_bigfoot_df.to_sql(name='bigfoot', con=engine, if_exists='append', index=False)

In [ ]:
new_ufo_df.to_sql(name='ufos', con=engine, if_exists='append', index=False)

In [ ]:
new_haunted_df.to_sql(name='haunted', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from haunted', con=engine).head()

In [ ]:
pd.read_sql_query('select * from ufos', con=engine).head()

In [ ]:
pd.read_sql_query('select * from bigfoot', con=engine).head()